*{
    margin: 0%;
    font-family: 'Open Sans', sans-serif;
}
button{
    color: aliceblue;
    background-color: coral;
    border-radius: 6px;
    padding: 16px;
    border: 0px;
    font-size: 20px;
}
.h1{
    margin-left: auto;
    font-size: 300px;
    display: block;
}
heaer {
    text-align: right;
    margin-left: 40 100px;
}
div{
    display: flex;
}
.footer{
    background-color: black;
    height: 20px;
    width: 30px;
}